<!-- trasperent layer for sm size -->
<div
  class="md:hidden fixed inset-0 bg-black/50 backdrop-blur-sm z-20"
  *ngIf="isMenuOpen"
  (click)="toggleMenu()"
></div>
<!-- header section -->
<header
  class="min-h-[620px] bg-[url('assets/images/header.png')] bg-cover bg-center md:bg-bottom px-4"
>
  <div class="container mx-auto text-white pt-6">
    <!-- links -->
    <div class="flex justify-between">
      <div class="flex gap-5 ps-4 md:p-0">
        <p class="flex items-center gap-1 font-medium">
          <i class="fa-regular fa-envelope fa-lg"></i>
          {{ "info@etmaam.com.sa" }}
        </p>
        <p class="flex items-center gap-1 font-medium">
          <img src="assets/svg/message.svg" alt="message" />
          920022444
        </p>
      </div>

      <div class="hidden md:flex items-center gap-5">
        <a href="">
          <img src="assets/svg/whatsup.svg" alt="whatsup" />
        </a>
        <a href="">
          <img src="assets/svg/twitter.svg" alt="twitter" />
        </a>
        <a href="">
          <img src="assets/svg/facebook.svg" alt="facebook" />
        </a>
        <a href="">
          <img src="assets/svg/linked-in.svg" alt="linked-in" />
        </a>
        <a href="">
          <img src="assets/svg/youtube.svg" alt="youtube" />
        </a>
        <a href="">
          <img src="assets/svg/instgram.svg" alt="instgram" />
        </a>
        <a href="">
          <img src="assets/svg/telegram.svg" alt="telegram" />
        </a>
        <a href="">
          <img src="assets/svg/snap.svg" alt="snap" />
        </a>

        <a href="">
          <p
            class="flex items-center gap-2 font-medium border-r-2 border-l-2 px-3"
          >
            English
            <i class="fa-solid fa-earth-asia"></i>
          </p>
        </a>
      </div>
    </div>
    <!-- navbar -->
    <nav class="flex items-center justify-between mt-8 pb-8 border-b">
      <img src="assets/svg/Logo 1.svg" alt="" class="ps-4 md:p-0" />

      <!-- Toggle button -->
      <button
        class="sm:block md:hidden lg:hidden me-10 outline-none z-30"
        (click)="toggleMenu()"
      >
        <i
          class="transition-all"
          [ngClass]="
            isMenuOpen ? 'fa-solid fa-xmark fa-2xl' : 'fa-solid fa-bars fa-lg'
          "
        ></i>
      </button>
      <ul
        class="flex flex-col md:flex-row font-bold md:static md:p-0 md:bg-transparent text-sm px-5 py-5 bg-sky-900/80 w-full md:max-w-fit absolute left-0 top-0 z-20"
        [ngClass]="isMenuOpen ? 'flex' : 'hidden'"
      >
        <li class="p-2 lg:p-4 hover:-translate-y-1 transition">
          <a href="">الصفحة الرئيسية</a>
        </li>
        <li class="p-2 lg:p-4 hover:-translate-y-1 transition">
          <a href="">
            من نحن؟
            <i class="fa-solid fa-chevron-down pr-1"></i
          ></a>
        </li>
        <li class="p-2 lg:p-4 hover:-translate-y-1 transition">
          <a href="">
            مركز المساعدة
            <i class="fa-solid fa-chevron-down pr-1"></i
          ></a>
        </li>
        <li class="p-2 lg:p-4 hover:-translate-y-1 transition">
          <a href="">الباقات</a>
        </li>
        <li class="p-2 lg:p-4 hover:-translate-y-1 transition">
          <a href="">انضم إلينا</a>
        </li>
        <li
          class="p-2 lg:p-4 bg-white text-blue-950 hover:bg-blue-950 hover:text-white hover:-translate-y-1 transition"
        >
          <a href="">اطلب خدمة</a>
        </li>
      </ul>
    </nav>
    <div class="pt-24 font-bold ps-4 md:ps-0">
      <h1 class="text-2xl md:text-3xl">تأسيس الشركات</h1>
      <p class="pt-8 text-xl">الصفحة الرئيسية / فتح شركة في السعودية</p>
    </div>
  </div>
</header>
<!-- contact section -->
<section>
  <div class="container mx-auto pt-6 grid grid-cols-1 md:grid-cols-6">
    <div class="md:col-span-4 flex flex-col gap-16">
      <div class="bg-neutral-100 text-sky-800 px-6 py-8">
        <h3 class="text-3xl font-bold pb-6">
          إبدأ عملك في السعودية مع خدماتنا المتكاملة
        </h3>
        <p class="font-medium">
          هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا
          النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من
          النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق. إذا كنت
          تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد
          الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية، مولد النص
          العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من
          الأحيان أن يطلع على صورة حقيقية لتصميم الموقع.
        </p>
      </div>
      <div class="text-sky-900 px-6">
        <h3 class="text-3xl font-bold pb-6">
          خطوات فتح شركة في المملكة العربية السعودية
        </h3>
        <p class="font-medium">
          هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا
          النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من
          النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق. إذا كنت
          تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد
          الفقرات كما تريد، النص لن يبدو مقسما هذا النص هو مثال لنص يمكن أن
          يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث
          يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة
          عدد الحروف التى يولدها التطبيق. إذا كنت تحتاج إلى عدد أكبر من الفقرات
          يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو
          مقسما
        </p>
      </div>
    </div>
    <div class="md:col-span-2 p-6">
      <form action="" class="flex flex-col gap-2 text-sky-800 shadow-xl p-6">
        <h3 class="text-2xl font-bold text-center pb-4">تواصل معنا</h3>
        <input
          type="text"
          id="name"
          placeholder="الاسم الكامل"
          class="w-full border-2 sky-800 py-1 px-2 focus:outline-sky-800 focus:placeholder:text-sky-800"
        />
        <input
          type="tel"
          id="phone-number"
          placeholder="رقم الجوال"
          class="w-full border-2 sky-800 py-1 px-2 text-right focus:outline-sky-800 focus:placeholder:text-sky-800"
        />
        <input
          type="email"
          id="email"
          placeholder="الإيميل"
          class="w-full border-2 sky-800 py-1 px-2 focus:outline-sky-800 focus:placeholder:text-sky-800"
        />
        <textarea
          id="contact-message"
          name="contact-message"
          rows="6"
          class="w-full border-2 sky-800 py-1 px-2 focus:outline-sky-800 focus:placeholder:text-sky-800"
          placeholder="الرسالة"
          style="resize: none"
        ></textarea>
        <p class="text-xs font-medium py-3">
          بتقديم هذا النموذج، أنت توافق على شروط وسياسة الخصوصية لشركة التأسيس.
          أنا أوافق على أن تقوم شركة التأسيس بجمع اسمي وعنوان بريدي الإلكتروني
          ورقم هاتفي والتواصل معي إما عبر عنوان البريد الإلكتروني أو رقم الهاتف
          المقدم.
        </p>
        <button
          type="submit"
          class="bg-sky-900 text-white py-2 hover:bg-sky-950"
        >
          إرسال
        </button>
      </form>
    </div>
  </div>
  <div class="overflow-hidden">
    <!-- slider-1 -->
    <swiper
      [config]="config"
      class="mt-24 w-full lg:left-[calc((100%-80%)/-2)]"
    >
      <ng-template ngFor let-slide [ngForOf]="slidesData" let-i="index">
        <ng-template swiperSlide>
          <div class="{{ slide.mainDivClasses }}">
            <h1 class="font-bold text-2xl pb-8">{{ slide.title }}</h1>
            <ul class="flex flex-col gap-3">
              <li
                class="font-medium"
                *ngFor="let item of slide.items; let j = index"
              >
                <span
                  class="bg-neutral-100 px-3 py-1 ml-3"
                  style="width: 900px"
                  >{{ j + 1 }}</span
                >{{ item }}
              </li>
            </ul>
          </div>
        </ng-template>
      </ng-template>
    </swiper>
  </div>
</section>
<!-- prpear companeis section -->
<section>
  <div
    class="container mx-auto pt-6 grid grid-cols-1 items-center md:grid-cols-2"
  >
    <img src="assets/images/Group 42.png" alt="img" />
    <div class="px-4 py-6 md:p-0">
      <h1 class="font-bold text-6xl text-sky-900 pb-6">إعداد الشركات في</h1>
      <p class="font-bold text-3xl pb-10">المملكة العربية السعودية</p>
      <div
        class="flex flex-col gap-6 text-sky-800 font-medium text-lg leading-7 pb-10"
      >
        <p>
          هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا
          النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من
          النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق. إذا كنت
          تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد
          الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية، مولد النص
          العربى مفيد لمصممي المواقع على وجه الخصوص،
        </p>
        <p>
          حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم
          الموقع. هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم
          توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو
          العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها
          التطبيق.
        </p>
        <p>
          إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة
          عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية، مولد
          النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى
          كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع.هذا النص هو مثال
          لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص
          العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى
          إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.
        </p>
      </div>
      <ul class="flex gap-16 text-3xl font-bold text-gray-400">
        <li class="text-sky-900">01</li>
        <li>02</li>
        <li>03</li>
        <li>04</li>
      </ul>
    </div>
  </div>
</section>
<!-- what we offeres section -->
<section>
  <div
    class="container mx-auto pt-6 ps-4 md:ps-0 grid grid-cols-1 items-center md:grid-cols-12"
  >
    <div class="col-span-12 lg:col-span-2">
      <h1 class="font-bold text-4xl text-sky-900 py-6">ماذا نقدم لك ؟</h1>
      <p class="text-sky-800 font-medium text-lg leading-7 pb-10">
        هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا
        النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من
        النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.
      </p>
    </div>
    <div class="col-span-10">
      <swiper
        [config]="config"
        class="mt-12 w-full lg:left-[calc((100%-80%)/-2)]"
      >
        <ng-container *ngFor="let slide of servicesSlides">
          <ng-template swiperSlide>
            <div [ngClass]="slide.classes">
              <img
                [src]="slide.content.imageSrc"
                [alt]="slide.content.imageAlt"
                class="h-16"
              />
              <h1 class="font-bold text-2xl pb-8">{{ slide.content.title }}</h1>
              <p class="font-medium text-lg">{{ slide.content.description }}</p>
            </div>
          </ng-template>
        </ng-container>
      </swiper>
    </div>
  </div>
</section>
<!-- stepes service section -->
<section>
  <div
    class="container mx-auto bg-slate-100 p-20 mt-32 grid grid-cols-1 gap-4 items-center md:grid-cols-12"
  >
    <div class="md:col-span-3 text-center font-bold text-4xl">
      خطوات إنهاء<span class="block text-sky-900">الخدمة</span>
    </div>
    <div class="md:col-span-9 grid grid-cols-1 md:grid-cols-2 gap-14">
      <div *ngFor="let item of offersItems" class="flex items-start gap-5">
        <img
          [src]="item.imageSrc"
          [alt]="item.imageAlt"
          class="max-w-10 pt-3"
        />
        <div>
          <h3 class="font-bold text-xl text-sky-900">{{ item.title }}</h3>
          <p class="font-medium text-xl">{{ item.description }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- footer section -->
<section class="bg-sky-950">
  <div
    class="container mx-auto text-slate-300/85 p-20 mt-32 grid grid-cols-1 gap-8 md:grid-cols-12"
  >
    <div class="md:col-span-6 lg:col-span-4">
      <img src="assets/svg/Logo 1.svg" alt="Logo" class="pb-5" />
      <h3>شركة إتمام للخدمات</h3>
      <p>الأولى في المملكة في خدمات الأعمال للمؤسسات والشركات</p>
    </div>
    <div class="md:col-span-6 lg:col-span-2">
      <h3 class="font-bold text-xl text-white pb-6">روابط هامّة</h3>
      <ul class="flex flex-col gap-2">
        <li
          *ngFor="let item of links; index as i"
          class="cursor-pointer hover:text-white"
        >
          <i class="fa-solid fa-caret-right"></i>
          <span class="pr-2"> {{ item }} </span>
        </li>
      </ul>
    </div>
    <div class="md:col-span-6 lg:col-span-3">
      <h3 class="font-bold text-xl text-white pb-6">النّشرة الإخباريّة</h3>
      <p class="pb-4">
        اشترك في بوابة آخر الأخبار، لتصلك نشرة الأعمال وأحدث العروض
      </p>
      <input
        type="email"
        placeholder="أدخل عنوان البريد الإلكتروني"
        class="w-full bg-transparent px-4 py-3 text-white border border-slate-300 placeholder:text-white"
      />
      <button class="text-white bg-sky-800 px-7 py-3 mt-3 hover:bg-sky-900">
        الاشتراك
      </button>
    </div>
    <div class="md:col-span-6 lg:col-span-3">
      <h3 class="font-bold text-xl text-white pb-6">اتَصل بنا</h3>
      <li class="flex gap-4">
        <i class="fa-solid fa-house pt-2"></i>
        <div>
          <p>المنطقة الوسطى - الرياض - الروضة 13211</p>
          <p>المنطقة الشرقية - الخبر - الراكة الجنوبية 34216</p>
          <p>المنطقة الجنوبية - محايل عسير - البلد 65715</p>
        </div>
      </li>
      <li class="flex gap-4 items-center">
        <i class="fa-solid fa-phone fa-flip-horizontal"></i>
        <div>
          <p>00966114719541 , 920022444</p>
        </div>
      </li>
      <li class="flex gap-4 items-center">
        <i class="fa-regular fa-envelope"></i>
        <div>
          <p>{{ "info@etmaam.com.sa" }}</p>
        </div>
      </li>
    </div>
  </div>
  <div class="container mx-auto text-slate-300/85">
    <hr />
    <div
      class="flex flex-col lg:flex-row items-center gap-3 justify-between mt-6"
    >
      <div class="flex items-center gap-3 px-4 md:p-0">
        <i class="fa-solid fa-shield-halved"></i>
        <p>
          إتمام للخدمات شركة موثقة لدى وزارة التجارة، بسجل تجاري رقم 1010803431
        </p>
      </div>
      <div class="flex items-center gap-2">
        <img src="assets/images/vat-verfied.png" alt="vat" class="h-10" />
        <img src="assets/images/MAROF-logo.png" alt="MAROF-logo" class="h-14" />
        <img src="assets/images/MAROF-text.png" alt="MAROF-text" class="h-14" />
        <img src="assets/images/SbcLogo.png" alt="vat" class="h-10" />
      </div>
    </div>
    <p class="text-center font-bold pt-10 pb-8">
      جميع الحقوق محفوظة لشركة إتمام للخدمات ©️ 2022
    </p>
  </div>
</section>
